@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add your app-wide custom styles below */
html, body {
	/* keep default font and background neutral until design is applied */
	height: 100%;
}

/* Custom utility classes */
@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
